apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: alerting-watcher
  name: alerting-watcher
  namespace: kubesphere-alerting-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alerting-watcher
  template:
    metadata:
      labels:
        app: alerting-watcher
    spec:
      initContainers:
      - name: wait-mysql
        image: busybox:1.28.4
        imagePullPolicy: IfNotPresent
        command: ['sh', '-c', 'until nc -z alerting-db.kubesphere-alerting-system.svc 3306; do echo "waiting for mysql"; sleep 2; done;']
      - name: wait-etcd
        image: busybox:1.28.4
        imagePullPolicy: IfNotPresent
        command: ['sh', '-c', 'until nc -z alerting-etcd.kubesphere-alerting-system.svc 2379; do echo "waiting for etcd"; sleep 2; done;']
      containers:
      - command:
        - /alerting/alert
        image: dockerhub.qingcloud.com/ksalerting/alerting
        imagePullPolicy: Always
        name: alerting-watcher
        env:
        - name: ALERT_APP_RUN_MODE
          value: "watcher"
        - name: ALERT_MYSQL_HOST
          value: "alerting-db.kubesphere-alerting-system"
        - name: ALERT_ETCD_ENDPOINTS
          value: "alerting-etcd.kubesphere-alerting-system:2379"
